.container{
    display: flex;
    flex-direction: column;
}

#topbox{
    width: 90%;
    height: 30vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#img{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}